mat-card {
  box-sizing: border-box;
  margin: 10px;
  width: 160px;
  height: 160px;
  padding: 0;
}

img {
  width: 160px;
  height: 120px;
}

p {
  font-size: 12px;
}

mat-card-content, mat-card-actions {
  padding: 6px 10px 0 10px;
  margin: 0;
}

.play {
  width: 160px;
  height: 120px;
  padding: 0;
  margin: 0;
}

.mat-card-image:first-child {
  margin: 0;
}
