button {
  flex: 0 0 auto;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  margin: 10px;
}

p {
  color: #ffffff;
  margin: 10px;
}

p.name {
  font-weight: bold;
}

p.sign {
  font-size: small;
}

.user-info-container {
  display: flex;
  box-sizing: border-box;
  width: 512px;
  height: 160px;
  padding: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.face {
  position: absolute;
  left: 0;
  top: 0;
  border: 0 solid #fff;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
