div{
  display: block;
  font-family: MicrosoftYaHei, sans-serif;
}
input{
  font-size: 16px;
}
textarea{
  width: 400px;
  font-size: 16px;
}
button{
  display: flex;
}
.margin {
  margin: 10px;
}
.nickname{
  display: block;
}
