mat-card {
  box-sizing: border-box;
  width: 100%;
  min-width: 300px;
  min-height: 500px;
  padding: 20px 30px;
}

input {
  width: 100%;
}

mat-radio-button {
  padding-right: 30px;
}

textarea {
  height: 60px;
}

mat-form-field {
  width: 80%;
}

button {
  height: 44px;
}

.row {
  padding: 10px 0;
}

.title {
  display: inline-block;
  width: 80px;
  padding-right: 10px;
}
