div.video-content {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

:host {
  width: 100%;
}

app-video-title {
  width: 960px;
}

app-video-player {
  width: 640px;
}

app-video-side {
  width: 320px;
}
