button {
  width: 200px;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fcfcfc;
  text-align: left;
}

button:hover {
  background-color: #cfd8dc;
}

.sidebar {
  display: inline-block;
  vertical-align: top;
  padding: 20px 20px 20px 110px;
  width: 200px;
}
