<nav>
  <button mat-button [class.selected]="selectedLink === 'home'" routerLink="." (click)="setSelectedLink('home')">
    <mat-icon svgIcon="home"></mat-icon>
    主页
  </button>
  <button mat-button [class.selected]="selectedLink === 'upload'" routerLink="./upload"
          (click)="setSelectedLink('upload')">
    <mat-icon svgIcon="unarchive"></mat-icon>
    上传
  </button>
<!--  <button mat-button [class.selected]="selectedLink === 'follow'" routerLink="." (click)="setSelectedLink('follow')">
    <mat-icon svgIcon="favorite"></mat-icon>
    关注
  </button>-->
  <button mat-button [class.selected]="selectedLink === 'favorite'" routerLink="./favorite"
          (click)="setSelectedLink('favorite')">
    <mat-icon svgIcon="bookmarks"></mat-icon>
    收藏夹
  </button>
  <button mat-button [class.selected]="selectedLink === 'setting'" routerLink="./setting"
          (click)="setSelectedLink('setting')">
    <mat-icon svgIcon="account-box"></mat-icon>
    个人信息
  </button>
</nav>
