<div class="sidebar">
  <button mat-button routerLink=".">
    <mat-icon svgIcon="home"></mat-icon>
    主页
  </button>
  <button mat-button routerLink="./upload">
    <mat-icon svgIcon="unarchive"></mat-icon>
    投稿
  </button>
  <button mat-button routerLink=".">
    <mat-icon svgIcon="favorite"></mat-icon>
    关注
  </button>
  <button mat-button routerLink="./favorite">
    <mat-icon svgIcon="bookmarks"></mat-icon>
    收藏夹
  </button>
  <button mat-button routerLink="./setting">
    <mat-icon svgIcon="account-box"></mat-icon>
    个人信息
  </button>
</div>
