button {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #fcfcfc;
  text-align: left;
}

button.selected {
  background-color: #64b9f9;
}

:host {
  width: 100%;
}
