<div class="home-header">
  <div class="title">
    <mat-icon svgIcon="view-module">分类 - 全部</mat-icon>
    分类 - 全部
  </div>
  <div class="tag-container">
    <button mat-raised-button color="primary" routerLink="./{{tags[0].key}}">{{tags[0].value}}</button>
    <button mat-raised-button color="accent" routerLink="./{{tags[1].key}}">{{tags[1].value}}</button>
    <button mat-raised-button color="warn" routerLink="./{{tags[2].key}}">{{tags[2].value}}</button>
    <button mat-raised-button routerLink="./{{tags[3].key}}">{{tags[3].value}}</button>
    <button mat-raised-button color="accent" routerLink="./{{tags[4].key}}">{{tags[4].value}}</button>
    <button mat-raised-button color="primary" routerLink="./{{tags[5].key}}">{{tags[5].value}}</button>
    <button mat-raised-button color="warn" routerLink="./{{tags[6].key}}">{{tags[6].value}}</button>
    <button mat-raised-button routerLink="./{{tags[7].key}}">{{tags[7].value}}</button>
  </div>
</div>
