div.video-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 640px;
  background-color: #eceff1;
}

div.video-content {
  display: flex;
  flex: 0 1 auto;
  width: 960px;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0;
}

:host {
  width: 100%;
}

div.layout-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.header-main {
  width: 100%;
  height: 50px;
}

div.content-main {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
}

div.footer-main {
  width: 100%;
  height: 40px;
}
