div.user-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #eceff1;
}

div.user-header {
  flex: 1 0 auto;
  width: 100%;
}

div.user-content {
  display: flex;
  flex: 0 1 auto;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0;
}

@media (min-width: 1282px) {
  div.user-content {
    width: 1280px;
  }
}

div.user-sidebar {
  flex: 2 1 auto;
  width: 160px;
  min-width: 160px;
}

div.user-board {
  flex: 10 1 auto;
  width: 800px;
  position: relative;
  top: -60px;
  margin: 0 10px;
}

:host {
  width: 100%;
}


div.layout-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.header-main {
  width: 100%;
  height: 50px;
}

div.content-main {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  width: 100%;
}

div.footer-main {
  width: 100%;
  height: 40px;
}
