mat-toolbar {
  max-height: 50px;
  padding: 0 80px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

button {
  padding: 7px 16px;
}

.upload-button {
  padding: 16px;
  z-index: 10;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
