<mat-toolbar color="primary">
  <p>Rvideo</p>
  <button mat-button routerLink="./home">首页</button>
  <button mat-button routerLink=".">养猪</button>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <app-user-button></app-user-button>
  <button mat-button routerLink="./user">个人中心</button>
  <button mat-button routerLink=".">关注</button>
  <button mat-button routerLink=".">收藏夹</button>
  <button class="upload-button" mat-raised-button color="accent" routerLink=".">投稿</button>
</mat-toolbar>
