<mat-toolbar color="primary">
  <h1>PIG</h1>
  <button mat-button routerLink="/home">视频</button>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <app-user-button></app-user-button>
  <button mat-button routerLink="/user">个人中心</button>
<!--  <button mat-button routerLink="/admin">关注</button>-->
  <button mat-button routerLink="/user/favorite">收藏夹</button>
  <!--<button class="upload-button" mat-raised-button color="accent" routerLink="/user/upload">投稿</button>-->
</mat-toolbar>
